/* Mainpage */
// Hero
.hero-block {
  margin-bottom: 0;
  padding: 0 2rem;

  h1 {
      padding-top: 146px;
      padding-left: 56px;
  }

  p {
      font-size: 20px;
      letter-spacing: 0.15px;
      line-height: 26px;
      padding-top: 16px;
      padding-left: 56px;
      padding-bottom: 14px;
      max-width: 430px;
  }

  .hero-btn {
    padding-left: 55px;
    padding-bottom: 156px;

    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

//Quote
.quote-and-form {
  background: url(images/bg_quote.png) no-repeat 34% 0%;
  height: 911px;
  background-size: contain;

  .blockquote {
    color: #a1343c;
    max-width: 450px;
    font-family: 'Domine', serif;
    font-weight: 500;
    line-height: 31px;
    padding-top: 97px;
    padding-left: 57px;
    position: relative;
    letter-spacing: 0.4px;

    &:before {
      content: "";
      background-image: url(images/i_quotes.png);
      background-size: 30px 24px;
      width: 30px;
      height: 240px;
      background-repeat: no-repeat;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      top: 99px;
      left: 9px;
    }

    .blockquote-footer {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.25rem;
      padding-top: 21px;

      &:before {
          content: "";
      }
    }
  }
}

// Form
.quote-and-form {
  .wpcf7 {
    position: relative;
    width: 100%;
  }

  form {
    clip-path: polygon(0 43px, 100% 0, 100% 0, 100% 100%, 0 100%);
    background-color: $dark;
    padding: 93px 55px 52px 57px;
    position: absolute;
    top: -58px;
    left: 12px;

    h2 {
      color: $white;
      letter-spacing: 0.5px;
      line-height: 44px;
      margin-bottom: 42px;
    }

    label {
      color: $white;
      width: 100%;
    }

    label.custom-control-label {
      margin-bottom: 0;
      padding-left: 20px;
      padding-top: 6px;
      letter-spacing: 0.9px;
      text-align: left;
    }

    .form-group.custom-control {
      br {
        display: none;
      }
    }

    .form-group-text {
      p {
        color: $white;
        font-size: 18px;
        letter-spacing: 0.17px;
        line-height: 20px;
        margin-bottom: 23px;
        padding-top: 30px;
      }

      p:nth-child(2) {
        display: none;
      }
    }

    input[type=submit].btn_form {
      border-radius: 36px;
      padding-bottom: 39px;
      letter-spacing: 0.8px;
      line-height: 0;
      margin-top: 85px;
      margin-left: 23px;
      padding-top: 37px;
    }

    p:last-child {
      text-align: center;
    }
  }
}

// Red Section
.red-block {
  background: $red-txt url(images/bg_redblock.png) no-repeat 100% 0%;
  color: $white;
  padding-top: 97px;
  padding-bottom: 118px;

  h2 {
    color: $white;
    font-family: 'Domine', serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 56px;
    padding-left: 48px;
    padding-bottom: 92px;
  }

  .col-icon {
    text-align: center;

    .i-image {
      margin-bottom: 28px;
    }

    h4 {
      color: $white;
      margin-bottom: 8px;
    }

    p {
      font-size: 20px;
      line-height: 25px;
      padding: 0 30px;
    }
  }
}

// SLider Section
.slider-block {
  background: $gray-200 url(images/bg_tableup.png) no-repeat 73% 0;
  background-size: 50.25%;
  padding-top: 80px;
  height: 906px;

  h3 {
    letter-spacing: 0.35px;
    padding-left: 55px;
    padding-bottom: 18px;
  }

  p {
    //font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 56px;
    max-width: 586px;
  }

  .white {
    color: $white;
    max-width: 740px;
    margin-left: 57px;

    #slider_88 {
      clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 92%);
      background-color: $dark;
      margin-top: 38px;
      padding-bottom: 75px;
      position: absolute;

      .sa_hover_container {
        display: flex;
        align-items: flex-start;

        //p:first-child {
        h3 {
          color: $white;
          font-family: 'Domine', sans-serif;
          font-size: 40px;
          font-weight: 400;
          line-height: 46px;
          max-width: 311px;
          width: 100%;
          border-right: 2px solid $red-txt;
          flex-shrink: 0;
          padding-right: 60px;
          margin-top: 36px;
          margin-left: -52px;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          padding-left: 28px;
          padding-top: 41px;
          padding-right: 41px;
        }
      }
    }
  }
}

.slider-block #slider_88 .autohide-arrows .owl-nav {
  display: block;
}

.slider-block .white .sa_owl_theme .owl-nav .owl-prev {
  background: transparent url(images/i_prev.png) no-repeat center top !important;
}

.slider-block .white .sa_owl_theme .owl-nav .owl-prev:hover {
  background-color: transparent !important;
}

.slider-block .sa_owl_theme .owl-nav .owl-prev {
  background: url(images/i_prev.png) no-repeat center top !important;
}

.slider-block .white .sa_owl_theme .owl-nav .owl-next {
  background: url(images/i_next.png) no-repeat center top !important;
}

.slider-block .white .sa_owl_theme .owl-nav .owl-next:hover {
  background-color: transparent !important;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  top:8%;
}

.slider-block .sa_owl_theme .owl-nav .owl-prev {
  left: 34px;
}

.slider-block .sa_owl_theme .owl-nav .owl-next {
  right: 29px;
}


// Pink Block
.pink-block {
  background-color: $pink;
  padding-bottom: 106px;

  h2 {
    color: $red-txt;
    font-family: 'Domine', serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 58px;
    padding-top: 187px;
    padding-left: 56px;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 34px;
    padding-left: 62px;
    letter-spacing: -0.05px;
  }

  .list-wrap {
    padding-top: 196px;

    .list-circles {
      display: flex;
    }

    .div2 {
      margin-bottom: 5px;
    }

    .div3 {
      margin-bottom: 22px;
    }

    .div4 {
      margin-bottom: 4px;

      .circles {
        margin-top: -15px;
      }
    }

    .div5 .circles {
      margin-top: -14px;
    }

    .circles {
      letter-spacing: -0.55px;
      padding-top: 3px;
      padding-left: 10px;
      line-height: 24px;
      padding-bottom: 15px;

      &.last-p {
        padding-bottom: 0;
      }
    }

    .circles1 {
      width: 46px;
      height: 32px;
      background: url(images/css_sprites.png) -10px -10px;
      display: inline-block;
      margin-left: 25px;
      margin-top: -7px;
    }

    .circles2 {
      width: 46px;
      height: 32px;
      background: url(images/css_sprites.png) -76px -10px;
      display: inline-block;
      margin-left: 25px;
      margin-top: -7px;
    }

    .circles3 {
      width: 46px;
      height: 32px;
      background: url(images/css_sprites.png) -10px -62px;
      display: inline-block;
      margin-left: 25px;
      margin-top: -7px;
    }

    .circles4 {
      width: 46px;
      height: 32px;
      background: url(images/css_sprites.png) -76px -62px;
      display: inline-block;
      margin-left: 25px;
      margin-top: -7px;
    }

    .circles5 {
      width: 46px;
      height: 32px;
      background: url(images/css_sprites.png) -142px -10px;
      display: inline-block;
      margin-left: 25px;
      margin-top: -7px;
    }

    .text2 {
      padding-left: 96px;
      padding-top: 20px;
      line-height: 23px;
      padding-right: 50px;
      letter-spacing: -0.5px;
    }
  }
}



// Blogpage
.blog-hero-block {
  background: rgba(0, 0, 0, 0.85) url(images/bg_blogtop.png) no-repeat center center;
  background-size: cover;
  color: $white; // Временно!!!!

  h1 {
    color: $white !important;
    margin-bottom: 0;
    padding-top: 45px;
    padding-left: 6px;
  }

  .blog-search > .input-group {
    max-width: 390px;
    padding-top: 49px;
    padding-left: 37px;

    .form-control {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      font-weight: 400;
      line-height: 46px;
      height: 49px;

      &::placeholder  {
        opacity: 0.6;
        color: #272222;
        //font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 46px;
        padding-left: 9px;
      }
    }

    .input-group-append button {
      background-color: $white;
      border-left: none;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}

// Cards
.card-block {

  .container {
    display: flex;
    align-items: flex-start;

    .cats-btns {
      a {
        display: flex;
        justify-content: space-between;
      }

      a:first-child {
        width: 134px;
      }
    }
  }

  .card-props {
    display: flex;
    justify-content: space-between;

    .entry-date {
      color: $white;
      background-color: $red-date;
    }

    .entry-date-day {
      font-family: "Domine", serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 42px;
    }
  }
}

