//.sticky {
//	display: block;
//}
//
//.post,
//.page {
//	margin: 0 0 1.5em;
//}
//
//.updated:not(.published) {
//	display: none;
//}
//
//.page-content,
//.entry-content,
//.entry-summary {
//	margin: 1.5em 0 0;
//}
//
//.page-links {
//	clear: both;
//	margin: 0 0 1.5em;
//}




/* Mainpage */
// Hero
.jumbotron {
	h1 {
		padding-top: 146px;
		padding-left: 56px;
	}

	p {
		font-size: 20px;
		letter-spacing: 0.15px;
		line-height: 26px;
		padding-top: 16px;
		padding-left: 56px;
		padding-bottom: 14px;
		width: 430px;
	}

	.hero-btn {
      padding-left: 55px;
      padding-bottom: 156px;

      a {
        padding-left: 10px;
        padding-right: 10px;
      }
	}
}

//Quote
.quote-and-form {
  background: url(images/bg_quote.png) no-repeat 34% 0%;
  height: 909px;
  //background-size: 59.5%;
  background-size: contain;

  .blockquote {
    color: #a1343c;
    max-width: 450px;
    font-family: 'Domine', serif;
    font-weight: 500;
    line-height: 31px;
    padding-top: 97px;
    padding-left: 57px;
    position: relative;
    letter-spacing: 0.4px;

    &:before {
      content: "";
      background-image: url(images/i_quotes.png);
      background-size: 30px 24px;
      width: 30px;
      height: 240px;
      background-repeat: no-repeat;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      top: 99px;
      left: 9px;
    }

    .blockquote-footer {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.25rem;
      padding-top: 21px;

      &:before {
          content: "";
      }
    }
  }
}

// Form
.quote-and-form {
  .wpcf7 {
    position: relative;
    width: 100%;
  }

  form {
    clip-path: polygon(0 43px, 100% 0, 100% 0, 100% 100%, 0 100%);
    background-color: $dark;
    padding: 90px 55px 52px 57px;
    position: absolute;
    top: -58px;
    left: 12px;

    h2 {
      color: $white;
      letter-spacing: 0.5px;
      line-height: 44px;
      margin-bottom: 42px;
    }

    label {
      color: $white;
      width: 100%;
    }

    label.custom-control-label {
      margin-bottom: 0;
      padding-left: 20px;
      padding-top: 6px;
      letter-spacing: 0.9px;
      text-align: left;
    }

    .form-group.custom-control {
      br {
        display: none;
      }
    }

    .form-group-text {
      p {
        color: $white;
        font-size: 18px;
        letter-spacing: 0.17px;
        line-height: 20px;
        margin-bottom: 23px;
        padding-top: 30px;
      }

      p:nth-child(2) {
        display: none;
      }
    }

    input[type=submit].btn_form {
      border-radius: 36px;
      line-height: 0;
      margin-top: 85px;
      padding-top: 36px;
      padding-bottom: 38px;
    }

    p:last-child {
      text-align: center;
    }
  }
}

// Red Section
.red-block {
  background: $red-txt url(images/bg_redblock.png) no-repeat 100% 0%;
  color: $white;
  padding-top: 98px;
  padding-bottom: 118px;

  h2 {
    font-family: 'Domine', serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 56px;
    padding-left: 55px;
    padding-bottom: 92px;
  }

  .col-icon {
    text-align: center;

    .i-image {
      margin-bottom: 28px;
    }

    h4 {
      margin-bottom: 8px;
    }

    p {
      font-size: 20px;
      line-height: 25px;
      padding: 0 30px;
    }
  }
}

// SLider Section
.slider-block {
  background: $gray-200 url(images/bg_tableup.png) no-repeat 73% 0;
  background-size: 50.25%;
  padding-top: 80px;
  height: 906px;

  h3 {
    letter-spacing: 0.35px;
    padding-left: 55px;
    padding-bottom: 18px;
  }

  p {
    //font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 56px;
    max-width: 586px;
  }

  .white {
    color: $white;
    max-width: 740px;
    margin-left: 57px;

    #slider_88 {
      clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 92%);
      background-color: $dark;
      margin-top: 38px;
      padding-bottom: 75px;
      position: absolute;

      .sa_hover_container {
        display: flex;
        align-items: flex-start;

        //p:first-child {
        h3 {
          font-family: 'Domine', sans-serif;
          font-size: 40px;
          font-weight: 400;
          line-height: 46px;
          //max-width: 285px;
          max-width: 311px;
          width: 100%;
          border-right: 2px solid $red-txt;
          //flex-grow: 2;
          flex-shrink: 0;
          padding-right: 60px;
          margin-top: 36px;
          margin-left: -52px;
        }

        p {
          //flex-shrink: 1;
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          padding-left: 28px;
          padding-top: 41px;
          padding-right: 41px;
        }
      }
    }
    //.sa_owl_theme .owl-nav .owl-prev {
    //  background: rgba(0,0,0,0.3) url(images/i_prev.png) no-repeat center top !important;
    //}
  }
}

.slider-block #slider_88 .autohide-arrows .owl-nav {
  display: block;
}

.slider-block .white .sa_owl_theme .owl-nav .owl-prev {
  background: url(images/i_prev.png) no-repeat center top !important;
}

.slider-block .sa_owl_theme .owl-nav .owl-prev {
  background: url(images/i_prev.png) no-repeat center top !important;
}

.slider-block .white .sa_owl_theme .owl-nav .owl-next {
  background: url(images/i_next.png) no-repeat center top !important;
}

.slider-block .sa_owl_theme .owl-nav .owl-next {
  background: url(images/i_next.png) no-repeat center top !important;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  top:8%;
}

.slider-block .sa_owl_theme .owl-nav .owl-prev {
  left: 34px;
}

.slider-block .sa_owl_theme .owl-nav .owl-next {
  right: 29px;
}

//.slider-block .sa_owl_theme .owl-nav div, .sa_owl_theme .owl-nav button {
//  top: 10%;
//}

//.slider-block .autohide-arrows .owl-nav {
//  display: block !important;
//}

// Pink Block
.pink-block {
  background-color: $pink;
  padding-bottom: 106px;

  h2 {
    color: $red-txt;
    font-family: 'Domine', serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 58px;
    padding-top: 187px;
    padding-left: 56px;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 34px;
    padding-left: 62px;
    letter-spacing: -0.05px;
  }

  .list-wrap {
    padding-top: 199px;

    .circles {
      letter-spacing: -0.55px;
      padding-top: 3px;
      padding-left: 54px;
      line-height: 24px;
      padding-bottom: 10px;

      &.last-p {
        padding-bottom: 0;
      }
    }

    .circles:before {
      color: $red-txt;
      content: ' \25CF';
      font-size: 32px;
      padding-right: 25px;
    }

    .text2 {
      padding-left: 96px;
      line-height: 23px;
      padding-right: 50px;
      letter-spacing: -0.5px;
    }
  }
}